{block body}
	{include head}
	{include content}
{/block}

{block rightContent}
	<h2>Edit maps</h2>

	{form uploadMap class=>"uploadMap"}
		{input map}

		{input send}
	{/form}

	<ul n:inner-foreach="$maps as $k=>$v">
		<li><a n:href="learn $k">{$v}</a>{if $editEnable} - <a n:href="edit $k">edit</a>{/if}</li>
	</ul>
{/block}