{block body}
	{include head}
	{include content}
{/block}

{block rightContent}
	<h2>Edit map {$map}</h2>

	{form addRoom-$mapId class=>"addRoom"}
		{input room}

		{input send}
	{/form}

	<hr>

	{form showRoom-$mapId class=>"showRoom"}
		{label room}Filter: {input room}{/label}
	{/form}
	<div class="rectSelect">
		<img src="{$basePath}{$mapUrl}" alt="Mapa {$map}">
		<div class="drawPlace">
			<div n:foreach="$rooms as $k=>$v" class="room_{$k}">
				<div n:foreach="$v as $v2" class="room" style="top: {$v2->y1}px; left: {$v2->x1}px; width: {$v2->x2-$v2->x1}px; height: {$v2->y2-$v2->y1}px;" />
			</div>
			<div class="selection" />
		</div>
	</div>

	{form selectRoom-$mapId class=>"selectRoom"}
		{input room}

		{input send}
	{/form}
{/block}
