{block body}
		<div id="login">
			<div class="logo" title="TREMI - Tremin" />
			<h1 class="hide">TREMIN</h1>
			<div class="loginContent">
				<div class="nadpis">
					Login to the system
				</div>
				{include '../components/form.latte', form => signInForm}
			</div>
		</div>
