{layout none}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex">
		<title>Page not found</title>
	</head>
	<body>
		<div id="error-body">
			<h1 n:block=title>Method Not Allowed</h1>

			<p>The requested method is not allowed for the URL.</p>

			<p><small>error 405</small></p>
		</div>
	</body>
</html>
