{layout none}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex">
		<title>Page not found</title>
	</head>
	<body>
		<div id="error-body">
			<style>
				body { color: #333; background: white; width: 500px; margin: 100px auto }
				h1 { font: bold 47px/1.5 sans-serif; margin: .6em 0 }
				p { font: 21px/1.5 Georgia,serif; margin: 1.5em 0 }
				small { font-size: 70%; color: gray }
			</style>
			<h1 n:block=title>Oops...</h1>

			<p>Your browser sent a request that this server could not understand or process.</p>
		</div>
	</body>
</html>
