@pageWidth: 1200px;
@addedWidth: 100px;

@w630: ~"all and (max-width: 630px)";
@w1200: ~"all and (max-width: 1200px)";

.bgLinear(@one, @two) {
	-webkit-box-shadow: 0 1px @one, inset 0 1px @two;
	-moz-box-shadow: 0 1px @one, inset 0 1px @two;
	box-shadow: 0 1px @one, inset 0 1px @two;
	background-color: @two;
	background-image: -webkit-linear-gradient(bottom, @one, @two);
	background-image: -moz-linear-gradient(bottom, @one, @two);
	background-image: -o-linear-gradient(bottom, @one, @two);
	background-image: -ms-linear-gradient(bottom, @one, @two);
	background-image: linear-gradient(to top, @one, @two);
}

.boxShadow(...) {
	@props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
	-webkit-box-shadow: @props;
	-moz-box-shadow: @props;
	-o-box-shadow: @props;
	-ms-box-shadow: @props;
	box-shadow: @props;
}

.backgroundImage(...) {
	@props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
	background-image: -webkit-linear-gradient(@props);
	background-image: -moz-linear-gradient(@props);
	background-image: -o-linear-gradient(@props);
	background-image: -ms-linear-gradient(@props);
	background-image: linear-gradient(@props);
}

.ieRadius() {
	//behavior:url(css/border-radius.htc);
}

.borderRadius(@radius: 2px) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	.ieRadius();
}

.borderRadiusUp(@radius: 2px) {
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
	-moz-border-top-left-radius: @radius;
	-moz-border-top-right-radius: @radius;
	-webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	.ieRadius();
}

.borderRadiusDown(@radius: 2px) {
	border-bottom-left-radius: @radius;
	border-bottom-right-radius: @radius;
	-moz-border-bottom-left-radius: @radius;
	-moz-border-bottom-right-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	.ieRadius();
}

.borderRadiusRight(@radius: 2px) {
	border-top-right-radius: @radius;
	border-bottom-right-radius: @radius;
	-moz-border-top-right-radius: @radius;
	-moz-border-bottom-right-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	.ieRadius();
}

.borderRadiusLeft(@radius: 2px) {
	border-top-left-radius: @radius;
	border-bottom-left-radius: @radius;
	-moz-border-top-left-radius: @radius;
	-moz-border-bottom-left-radius: @radius;
	-webkit-border-top-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	.ieRadius();
}

.rotate(@angle) {
	-ms-transform: rotate(unit(@angle, deg)); /* IE 9 */
	-o-transform: rotate(unit(@angle, deg)); /* Chrome, Safari, Opera */
	-webkit-transform: rotate(unit(@angle, deg)); /* Chrome, Safari, Opera */
	transform: rotate(unit(@angle, deg));
	filter: %("progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=%s, M12=%s, M21=%s, M22=%s)", cos(unit(@angle, deg)), -1*sin(unit(@angle, deg)), sin(unit(@angle, deg)), cos(unit(@angle, deg))); /* IE6,IE7 */
	-ms-filter: %("progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=%s, M12=%s, M21=%s, M22=%s)", cos(unit(@angle, deg)), -1*sin(unit(@angle, deg)), sin(unit(@angle, deg)), cos(unit(@angle, deg))); /* IE8 */
}

.transition(@el, @t) {
	transition: @el @t;
	-moz-transition: @el @t;
	-webkit-transition: @el @t; /* Safari */
}

.getImgUrl(@img) {
	@u: url("../img/@{img}");
}

.getImgDataUrl(@img, @dataMode) when (@dataMode = true) {
	.getImgUrl(@img);
	@uri: data-uri("../img/@{img}");
}

.getImgDataUrl(@img, @dataMode) when (@dataMode = false) {
	.getImgUrl(@img);
	@uri: @u;
}

.bgAllImg(@img) {
	background: url("../img/@{img}");
}

.bgImg(@img, @dataMode:true) {

	.getImgDataUrl(@img, @dataMode);
	background-image: @uri;
	/* IE < 8 targeted with the star hack */
	*background-image: @u;

	.internet-explorer & {
		background-image: @u;
	}
}

.bg(@img, @w, @h, @vertical: 50%, @horizontal: 50%, @b: block, @dataMode:true) {
	width: @w;
	height: @h;
	.bgImg(@img, @dataMode);
	background-repeat: no-repeat;
	background-position: @vertical @horizontal;
	display: @b;
}

.bgRep(@img) {
	.bgImg(@img);
	background-repeat: repeat;
	background-position: 50% 50%;
}

.size(@w: auto, @h: auto, @d: block) {
	width: @w;
	height: @h;
	display: @d;
}

.font(@f: Arial, @s: 14px, @c: #fff, @w: normal) {
	font-family: @f;
	font-size: @s;
	font-weight: @w;
	color: @c;
}

.button(@w, @h, @d:inline-block) {
	.size(@w, @h, @d);
	line-height: @h;
	text-align: center;
}

.bgTransparent(@color, @transparency, @fallback:transparent) {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(red(@color), green(@color), blue(@color)) @fallback;
	/* RGBa with 0.6 opacity */
	@c: rgba(red(@color), green(@color), blue(@color), @transparency/100);
	background: rgba(red(@color), green(@color), blue(@color), @transparency/100);
	/* For IE 5.5 - 7*/
	filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", argb(@c), argb(@c));
	/* For IE 8*/
	-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", argb(@c), argb(@c));
}

.opacity(@o) {
	filter: alpha(opacity=@o); /* internet explorer */
	-khtml-opacity: @o/100; /* khtml, old safari */
	-moz-opacity: @o/100; /* mozilla, netscape */
	opacity: @o/100; /* fx, safari, opera */
}

.click() {
	cursor: hand;
	cursor: pointer
}

@font-face {
	font-family: MavenProRegular;
	src: url('fonts/MavenProLight-300.eot');
	src: local('☺'), url('fonts/MavenProLight-300.woff') format('woff'), url('fonts/MavenProLight-300.ttf') format('truetype'), url('fonts/MavenProLight-300.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	background-color: #fff;
	min-width: @pageWidth + @addedWidth;
	position: relative;

	.pageContainer {
		width: @pageWidth;
		margin: 0px auto;
		padding: 0px;
		position: relative;
	}
}

.reset {
	width: 100%;
	display: block;
	clear: both;
	position: relative;
}

.hide {
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: block;
	margin: 0px;
	padding: 0px;
	visibility: hidden;
	position: absolute;
}

.displayFlex() {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.setFlex(@id) {
	-webkit-box-flex: @id; /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: @id; /* OLD - Firefox 19- */
	-webkit-flex: @id; /* Chrome */
	-ms-flex: @id; /* IE 10 */
	flex: @id; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
