@import "func.f.less";

@base: rgb(64, 146, 98);
@complement1: spin(@base, 180);
@complement2: darken(spin(@base, 180), 5%);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);

@complement3: spin(@base, -90);
@complement4: spin(@base, -120);

@lighter12: lighten(spin(@base, 5), 10%);
@lighter22: lighten(spin(@base, 10), 20%);
@darker12: darken(spin(@base, -5), 10%);
@darker22: darken(spin(@base, -10), 20%);

body {
	margin: 0px;
	padding: 0px;
	position: relative;
}

#head {
	.logo {
		.size(200px, 137px/2);
		.bgImg("logo.png");
		background-repeat: no-repeat;
		background-size: 100% auto;
		margin: 20px;
	}
	.logout {
		.button(100px, 30px);
		.borderRadius();
		background-color: #FDF9EF;
		border: 1px solid #50B87B;
		.font('Arial', 14px, #409262, bold);
		.click();
		position: absolute;
		top: 20px;
		right: 20px;

		&:hover {
			border-color: #50B87B;
			color: #50B87B;
		}
	}
}

#login {
	@w: 380px;
	width: @w;
	min-height: 540px;
	position: relative;
	margin: 30px auto;

	.logo {
		.size(400px, 137px);
		.bgImg("logo.png");
		background-repeat: no-repeat;
		margin: 20px auto 40px auto;
	}
	.loginContent {
		width: @w - 54px - 54px;
		position: relative;
		background-color: #fff;
		padding: 49px 54px;
		.boxShadow(0 0 5px rgba(0, 0, 0, .33));
		.font(Arial, 14px, #3a3d43);
		.borderRadius(3px);

		.nadpis {
			.size();
			@f: Conv_HelveticaNeueLTPro-Lt, Arial;
			.font(@f, 24px, #5c6f7a);
			margin-bottom: 42px;
			text-align: center;
		}
		input[type="text"], input[type="password"] {
			.size(278px - 13px, 40px);
			.boxShadow(inset 0 1px #f1f1f1);
			border: solid 1px #c4c9cf;
			margin-bottom: 18px;
			.borderRadius();
			padding-left: 13px;
			.font(Arial, 14px, #595f60);
			font-style: italic;
		}
		input[type="submit"] {
			.button(278px, 42px);
			.borderRadius();
			background-color: #409262;
			.font('Arial', 14px, #fff, bold);
			margin-bottom: 11px;
			text-transform: uppercase;
			text-decoration: none;
			border-width: 0px;
			.click();

			&:hover {
				background-color: #50B87B;
			}
		}
		.lostPass {
			position: absolute;
			right: 49px;
			text-decoration: underline;
			padding-top: 4px;
			.font(Arial, 12px, #3a3d43);

			&:hover {
				text-decoration: none;
			}
		}
	}
}

#menu {
	@w: 200px;
	.size(@w);
	float: left;
	margin: 20px 0px 0px 0px;

	a {
		.size(@w - 10px, 40px);
		line-height: 40px;
		background-color: #FDF9EF;
		border: #50B87B;
		border-style: solid;
		border-width: 0px 1px 1px 0px;
		padding: 1px 0px 0px 11px;
		.font('Arial', 18px, #409262);

		&:hover {
			//			text-decoration: underline;
			padding: 0px 1px 1px 10px;
			border-width: 1px 0px 0px 1px;
		}
	}
}

#rightContent {
	.size(@pageWidth - 220px);
	float: right;

	h2 {
		margin: 20px 20px;
		padding: 0px;
		.font('Arial', 30px, #409262);
	}
	h3 {
		margin: 10px 10px;
		padding: 0px;
		.font('Arial', 20px, #409262);
	}
	form {
		input[type="text"], input[type="password"], input[type="datetime"], input[type="date"], input[type="time"], input[type="number"], input[type="email"], input[type="tel"], select, textarea {
			.size(170px, 30px, inline-block);
			.boxShadow(inset 0 1px #f1f1f1);
			border: solid 1px #c4c9cf;
			margin-bottom: 18px;
			.borderRadius();
			padding-left: 13px;
			.font(Arial, 14px, #595f60);
			font-style: italic;
		}
		select {
			width: 184px;
		}
		select[multiple] {
			height: 200px;
			width: 680px;
		}
		textarea {
			padding-top: 12px;
			padding-left: 12px;
			height: 100px;
		}
		input[type=submit] {
			.button(100px, 32px);
			.borderRadius();
			background-color: #409262;
			.font('Arial', 14px, #fff, bold);
			margin: 20px 0px 0px 50px;
			text-decoration: none;
			border-width: 0px;
			.click();

			&:hover {
				background-color: #50B87B;
			}
		}

		&.uploadMap, &.addRoom, &.selectRoom, &.showRoom, &.selectTag {
			padding-left: 40px;

			input[type="text"], input[type="password"] {
				display: inline-block;
			}
		}
		&.addImages {
			margin-bottom: 20px;
		}
		&.userRoles {
			.roles {
				.size(200px, auto, block);
				position: relative;
				margin-left: 20px;
				padding-left: 10px;

				div {
					margin-left: 14px;
					border-left: 1px solid rgba(0, 0, 0, .1);

					label {
						display: block;
						padding: 12px 0px 0px 10px;

						input {
							.size(20px, 20px);
							position: absolute;
							left: 0px;
							margin-top: -2px;
						}
					}
				}
				& > div {
					border-width: 0px;
				}
			}
		}
		&.changePass {
			input[type="password"] {
				margin-left: 40px;
			}
		}
		&.page {
			tr {
				td {
					.wysiwyg {
						@contentWidth: 680px - 2*16px;
						width: @contentWidth;
						background-color: #FAE5BA;
						@f: Verdana, Geneva, sans-serif;
						.font(@f, 14px, #000);
					}
				}
			}
		}
		&.editSkola, &.addEmails {
			tr {
				td {
					input[type=text] {
						width: 420px;
					}
					textarea {
						width: 420px;
					}
				}
			}
		}
		&.addEmails {
			tr {
				td {
					textarea {
						height: 200px;
					}
					select {
						width: 434px;
					}
				}
			}
		}
	}
	table {
		tr {
			th {
				padding: 10px 10px;
				.font('Arial', 16px, #409262, bold);
			}
			td {
				padding: 5px 20px;

				a {
					.font('Arial', 14px, #409262);

					&:hover {
						text-decoration: underline;
					}
				}
				input[type="text"], input[type="password"], input[type="datetime"], input[type="date"], input[type="time"], input[type="number"], input[type="email"], input[type="tel"], select, textarea {
					margin: 0px;
				}
				input[type="submit"] {
					margin: 0px;
				}
			}
			&.center {
				td, th {
					text-align: center;
				}
			}
		}
	}

	.rectSelect {
		position: relative;

		img {
			max-width: @pageWidth - 220px;
		}
		.drawPlace {
			.size(100%, 100%);
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: transparent;

			.room, .selection {
				.size(0px, 0px);
				position: absolute;
				top: 0px;
				left: 0px;
				.bgTransparent(red, 30);
			}
			.room {
				.bgTransparent(green, 30);
				.font(Arial, 6px, red);
			}
		}
	}
}

#popups {
	.popup {
		.size(100%, 100%, none);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 50;

		.bg {
			.size(100%, 100%);
			position: fixed;
			top: 0px;
			left: 0px;
			.bgImg("popBg.png");
		}
		.innerPopup {
			display: block;
			background-color: #fff;
			margin: 0px auto;
			padding: 20px 16px;
			.borderRadius(8px);
			position: relative;

			.close {
				.bg("close.png", 35px, 35px);
				position: absolute;
				top: -17px;
				right: -17px;
			}
			.nadpis {
				.font("Arial", 24px, #4b5a65, bold);
				margin-bottom: 10px;
			}
			.text {
				.font(Arial, 16px, #4b5a65);

				.next {
					.button(100px, 32px, block);
					.borderRadius(4px);
					.font(Arial, 20px, #fff);
					background-color: #f08508;
					text-decoration: none;
					margin: 0px auto;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&.show {
			display: block;
		}
	}
}

a {
	text-decoration: none;
}