<!DOCTYPE html>
<html n:class="$browser, ($IEversion!=-1)?'ie-'.$IEversion">
	<head>
		<meta name="robots" content="index, follow" />
		<meta name="author" content="All: Jan Trejbal; mailto: jan.trejbal@gmail.com" />
		<meta charset="UTF-8">
		<link href="{$basePath}/img/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
		<link href="{$basePath}/img/favicon.ico" type="image/x-icon" rel="icon"/>

		<meta name="description" content="{$pageInfo->description}" />
		<meta name="keywords" content="{$pageInfo->keywords}" />

		<meta property="og:url" content="http://{!$server}{$uri}"/>
		<meta property="og:image" content="http://{!$server}{$basePath}/img2/{$pageInfo->fbImg}"/>
		<meta property="og:title" content="{$pageInfo->title}"/>
		<meta property="og:site_name" content="IMA config"/>
		<meta property="og:description" content="{$pageInfo->description}"/>

		<meta name="viewport" content="width=device-width, initial-scale=0.9">

		<title>{$pageInfo->title|striptags}</title>
			{if !$debug}
        <link rel="stylesheet" href="{$basePath}/css/root.min.css?{$fv}" type="text/css" />
            {else}
        <link rel="stylesheet" href="{$basePath}/css/root.css?{$fv}" type="text/css" />
            {/if}

		{block styleSheets /}
		{*if !debug_mode}{include analytics}{/if*}
		<!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	</head>
	<body>
		<script type="text/json" id="baseVar">
        {Nette\Utils\Json::encode([
                'basePath' => $basePath
        ])}
        </script>
		{block body /}
		{include popups}
		<div id="fb-root"></div>
	    {if !$debug}
            <script type="text/javascript" src="{$basePath}/js/main-all.min.js?{$fv}"></script>
        {else}
            {foreach [
                'jquery-1.11.1.min.js',
                'netteForms.js',
                'nette.ajax.js',
                'ts/commonFunc.js',
                'ts/popups.js',
                'ts/select.js',
                'ts/IMAMap.js',
                'main.js'
            ] as $v}
            <script type="text/javascript" src="{$basePath}/js/{$v}?{$fv}"></script>
            {/foreach}
        {/if}
        {block scripts /}
	</body>
</html>

{define head}
		<div id="head">
			<div class="pageContainer">
				<div class="logo" title="Tremin - {control labels pageTitle}" />
				<h1 class="hide">TREMIN - {control labels pageTitle}</h1>
				<a n:href="Sign:out" class="logout">Odhlásit</a>
			</div>
		</div>
{/define}
{define menu}
		<div id="menu" n:inner-foreach="$menu as $v">
			<a n:href="$v->url">{$v->name}</a>
		</div>
{/define}
{define content}
		<div class="pageContainer">
			{include menu}
			<div id="rightContent">
				{block rightContent /}
			</div>

			<div class="reset" />
		</div>
{/define}
{define popups}
        <div id="popups">
        	{snippet flashs}
			<script type="text/javascript" n:inner-foreach="$flashes as $k=>$flash" n:if="count($flashes)>0">
				if (typeof popupsStack=="undefined") var popupsStack=Array();
				popupsStack.push(
					{!json_encode($flash)}
				);

				if (typeof Popups == "object" && init in Popups && Popups.init) {
					Popups.importStack();
				}
			</script>
			{/snippet}
        </div>
{/define}
